<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
    <!--<script src="/incapsulajs.js" async defer></script> -->
    <!--<script type="text/javascript" src="/jspath.js"></script>-->
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Hello Moto <%= hello %></p>
    <!--FYI: htta17@gmail.com Google Dev Console-->
    
    <!--Implicitly render the Turnstile widget-->
    <div class="cf-turnstile" data-sitekey="0x4AAAAAAAOUOAo1jRTpY2-o" data-callback="javascriptCallback"></div>
    <script>
      function javascriptCallback(a,b,c, e, f, g, h) {
        console.log(a,b,c, e, f, g, h);
      }
    </script>


    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
      function onSubmit(token) {
        console.log(token);
        //document.getElementById("demo-form").submit();
      }      
    </script>

    <button class="g-recaptcha" 
    data-sitekey="6LcZS1spAAAAALYvTvUAjqjIHqI3JPC0RWEewnuG" 
    data-callback='onSubmit' 
    data-action='submit'>Submit</button>

    <form id="demo-form">

      <button type="submit">This is the real submit</button>
    </form>



    
  </body>
</html>
