<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Hello Moto <%= hello %></p>
    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LdFEEUUAAAAABQEWhQC0l3K9XFPcciWfOKbTi4o"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
